<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Toepassing25_dbSpionShop1.Properties.Settings.CNstr"
            connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=&quot;&quot;;Initial Catalog=Spionshop;Data Source=localhost\SQLEXPRESS;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>