<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Transportmiddelen.Properties.Settings.CNString" connectionString="Integrated Security=SSPI;Persist Security Info=False;User ID=&quot;&quot;;Initial Catalog=Examen23;Data Source=localhost\SQLExpress;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>